[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential]
	helper = !/opt/homebrew/bin/gh auth git-credential
